version: '3'

services:
  mysql:
    image: mysql:8.3.0
    container_name: mysql8-local
    restart: always
    ports:
      - '3306:3306'
    environment:
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: root
      TZ: 'Asia/Seoul'
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
